YYYY-MM-DD

昨日やったこと:
今日やること:
------------- long
(部署目標など)
------------- daily
(タスクなど)

昨日やったこと:
今日やること:


(
  How to Edit
  YYYY-MM-DDが追記されるので、これを直上の「昨日やったこと」の上にcut/pasteし、さらに日付ごと前日のログの直後にcut/pasteする。
  昨日やったことと今日やることを整理する。
  「今日やること」の次の行からlongの手前の「今日やること」までをcut/pasteして一番下に置く。
)
